<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color: white" (click)="close()">Back</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-radio-group [value]="'crew'">
    <ion-item>
      <ion-label>Test1</ion-label>
      <ion-radio value="crew"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Test2</ion-label>
      <ion-radio value="times"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Test3</ion-label>
      <ion-radio value="tooflang"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Test4</ion-label>
      <ion-radio value="expenses"></ion-radio>
    </ion-item>
  </ion-radio-group>

</ion-content>
